.movies-container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 auto;
  padding: 0;
  line-height: 0;
  list-style: none;
  width: 100%;
}

.movie-container {
  flex: 0 0 auto;
  width: calc(20% - 12px);
  padding: 6px;
}

.movie-poster {
  max-width: 100%;
}