.movies-container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 auto;
  padding: 0;
  line-height: 0;
  list-style: none;
  width: 100%;
}

.movie-container {
  flex: 0 0 auto;
  width: calc(20% - 12px);
  padding: 6px;
  transition: all 200ms ease-in-out;
}

.movie-container:hover {
  transform: translateY(-16px);
}

.movie-poster {
  max-width: 100%;
}

.error-message {
  color: #F24444;
}
